:root {
  --primary-color: #6b4e6b;
  --secondary-color: #b869b8;
  --tertiary-color: #9f6af3;
  --dark-color: #333;
  --light-color: #fff;
  --gray-color: #666;
  --shadow-color: rgba(0, 0, 0, 0.3);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* nav-bar */
.lg-container {
  background-color: var(--primary-color);
}
.nav-link {
  max-width: 1200px;
  color: var(--light-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
.logo {
  display: flex;
  align-items: center;
  text-align: center;
}
.logo img {
  height: 100px;
  margin-right: 10px;
}
.nav-bar ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar li {
  margin: 0 15px;
  cursor: pointer;
  transition: color 0.3s;
}
.nav-bar li:hover {
  color: var(--secondary-color);
}
.nav-bar button {
  padding: 10px 20px;
  font-size: 1em;
  color: var(--light-color);
  background-color: var(--secondary-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.nav-bar button:hover {
  background-color: var(--tertiary-color);
}
/* container */
.content-principal {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  background-color: var(--light-color);
  gap: 20px;
}
.content-container img {
  max-width: 100%;
  height: auto;
  border-radius: 30px;
}
.content-text {
  margin-left: 20px;
  text-align: left;
}
.content-text h1 {
  font-size: 2em;
  margin-bottom: 20px;
}
.content-text button {
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.content-text button:hover {
  background-color: var(--primary-color);
}
/* Container */
.card{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 0 auto;
  gap: 20px;
  max-width: 1200px;
}
.item {
  margin: 10px 0;
  padding: 15px;
  border: 1px solid var(--shadow-color);
  border-radius: 20px;
  width: 80%;
  background-color: var(--light-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.service {
  font-size: 1.5em;
  color: var(--dark-color);
  margin: 10px 0;
}
.description {
  font-size: 1em;
  color: var(--gray-color);
  margin: 10px 0;
}
.btn {
  padding: 10px 20px;
  font-size: 1em;
  color: var(--light-color);
  background-color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--primary-color);
}
/* footer */
footer {
  background-color: var(--primary-color);
  color: var(--light-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.logo-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}
.logo-footer img {
  height: 100px;
  width: 100px;
}
.logo-footer p {
  margin: 5px 0;
}
.footer-text {
  max-width: 300px;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 10px;
}
.footer_social,
.footer_contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.footer_social h3,
.footer_contact h3 {
  margin-bottom: 10px;
}
.footer_social p,
.footer_contact p {
  margin: 5px 0;
  cursor: pointer;
  transition: color 0.3s;
}
.copyright {
  margin-top: 20px;
  text-align: center;
  font-size: 0.8em;
}
